@model MVC05.Models.Employee

<table style="font-family:Arial; border:1px solid black; width:300px">
    <tr>
        <td><b>Name</b></td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td><b>Gender</b></td>
        <td>@Model.Gender</td>
    </tr>
    <tr>
        <td><b>City</b></td>
        <td>@Model.City</td>
    </tr>
</table>