@model MVC05.Models.Employee

@{
    ViewBag.Title = "EmployeeDisplayDetailsView";
}

<h2>EmployeeDisplayDetails</h2>

<fieldset>
    <legend>Employee</legend>
    @Html.Display("EmployeeData")
</fieldset>


