@model MVC05.Models.Employee

@{
    ViewBag.Title = "EmployeeDisplayDetails";
}

<h2>EmployeeDisplayDetails</h2>

 <fieldset>
     <legend>Employee</legend>
     @Html.DisplayForModel()
 </fieldset>
