@model IEnumerable<MVC05.Models.Employee>

@{
    ViewBag.Title = "Index";
}

@foreach(var item in Model)
{
<table style="font-family:Arial; border:1px solid black; width:300px">
    <tr>
        <td><b>Name</b></td>
        <td>@item.Name</td>
    </tr>
    <tr>
        <td><b>Gender</b></td>
        <td>@item.Gender</td>
    </tr>
    <tr>
        <td><b>City</b></td>
        <td>@item.City</td>
    </tr>
</table>
}

