<div style="font-family:Arial">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <h2>Students</h2>

    @Ajax.ActionLink("All", "All", new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "divStudents",
                    InsertionMode = InsertionMode.Replace
                })

    <span style="color:Blue"></span>
    @Ajax.ActionLink("Top 3", "Top3", new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "divStudents",
                    InsertionMode = InsertionMode.Replace
                })

    <span style="color:Blue"></span>
    @Ajax.ActionLink("Bottom 3", "Bottom3", new AjaxOptions()
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "divStudents",
                    InsertionMode = InsertionMode.Replace
                })


    <div id="divStudents">

    </div>
</div>