
 
<div style="font-family:Arial">
   @using (@Html.BeginForm())
   {
    <b> Comments :</b>
    <br />
    @Html.TextArea("comments")
    <br />
    <br />
    <input type="submit" value="Submit"/>
   }
</div>
